* Global */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Josefin Sans", sans-serif; }


